html {
    font-size: 62.5%;
    font-family: monospace;
}

body {
    background-color: #250921;
    color: #12E9A8;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Begin Fonts */

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

p, li {
    font-size: 1.6rem;
}

/* end fonts */

/* Begin Containers */

.col-md-8 {
    width: 66.6666666666667%;
}
.col-md-9 {
    width: 75%
}
.col-md-10 {
    width: 83.3333333333333%;
}
.col-md-11 {
    width: 91.6666666666667%;
}
.col-md-12 {
    width: 100%
}

/* end containers */